[submodule "Wizardry/ModularGetters"]
	path = Wizardry/ModularGetters
	url = https://github.com/StanHash/FE8ModularStatGetters.git
[submodule "Tools/CLib"]
	path = Tools/CLib
	url = https://github.com/StanHash/FE-CLib
[submodule "Tools/PyTools"]
	path = Tools/PyTools
	url = https://github.com/StanHash/FE-PyTools.git
